email_security_v1.json
{
  "name": "Fetch mail",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.1:8b-instruct-q6_K\",\n  \"prompt\": \"Analyze this email for anything not promotional.\\n\\nRULES:\\n1. First, list the 'signs of importance' (high-autority sender, urgent subject line, imminent deadline included, direct action required, personnally addressed, financial implications, legal relevance).\\n2. Then, assign a 'priority_score' (1-5).\\n3. Finally, set 'is_important' to true if score > 2\\n\\nEMAIL:\\n{{ $json.snippet }}\\n\\nOUTPUT FORMAT (JSON ONLY):\\n{\\n  \\\"reasoning\\\": \\\"...\\\",\\n  \\\"priority_score\\\": X,\\n  \\\"is_important\\\": boolean\\n}\",\n  \"stream\": false,\n  \"format\": \"json\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        -96
      ],
      "id": "b78070ff-b725-4bc4-8a05-156feb710189",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiResponse = $input.item.json.response;\n\n// 1. Sanitize: Remove Markdown code blocks and whitespace\nconst cleanJson = aiResponse.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\ntry {\n  // 2. Parse\n  const parsedData = JSON.parse(cleanJson);\n  \n  return {\n    subject: $input.item.json.subject,\n    // Default to score 0 if missing\n    priority_score: parsedData.priority_score || 0, \n    // Force boolean\n    is_important: parsedData.is_important === true, \n    reasoning: parsedData.reasoning\n  };\n} catch (error) {\n  // If AI sends garbage, flag it as an error but don't crash\n  return {\n    error: \"AI JSON Parse Failed\",\n    raw_output: aiResponse,\n    is_important: false\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -96
      ],
      "id": "ed1aa90d-7f1d-4f6f-b275-15d66b16c158",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a38475b-2e5e-4a39-b2db-0d06bfa7c98f",
              "leftValue": "={{ $json.is_important }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -96
      ],
      "id": "b716fb6b-8676-45f4-8671-c7b92b7020e2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/Willis_Emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "🚨 High Priority Email",
              "value": "5"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json.subject }} Score: {{ $json.priority_score\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -192
      ],
      "id": "3050747c-5954-4803-8b76-3a82ba8a8066",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -96
      ],
      "id": "506df6ae-d9cf-48d3-99ba-a11028e52712",
      "name": "Gmail Trigger",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "bfYB9HLA01zzJYxm",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b221d4c6-dfdb-4f23-a539-0a965e133377",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "878281fbe07c6367354814cbceb543e3910c976d73f076f78f92a3425fff29e0"
  },
  "id": "Gckn-8EPiMWQpYrhlVFe2",
  "tags": []
}